@import url("methods_panel.css");
@import url("response_panel.css");
@import url("box_panel.css");
@import url("menu.css");


#app_title{
  text-align: center;
  background-color: #7a92a3;
  padding:10px;
}
#panel_title{
  font-size: large;
  text-align: center;
  background-color: #d9edfc;
  padding:5px;
}
#panel_container{
  padding: 10px;
  background-color: #b9ddf7;
  /*width:960px;*/
}
.hidden{
  visibility: hidden;
}
.textBtn{
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}
