@import url("methods_panel.css");
@import url("response_panel.css");
h1{
  text-align:center;
}
.pnl_container{
  border: 1px solid black;
  padding: 2px;
}
.hidden{
  visibility: hidden;
}
.pnl_container{
  border: 1px solid red;
  padding: 2px;
  background-color: #AAA7A7;
}
.pnl_title{
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
  background-color: white;
}
.textBtn{
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}
