#methods_panel{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
}
#panelResponse{
  border: 1px solid black;
  padding: 2px;
  margin:2px;
  background-color: red;
}
.method_record{
  border: 1px solid black;
  padding: 2px;
  margin:2px;
  background-color: red;
}
.method_record:nth-child(even) {background: #F6F5F5}
.method_record:nth-child(odd) {background: #FFF}
.method_nameContainer{
  background: #FFF;
  padding: 2px;
  margin:2px;
}
.method_details{
  border: 1px solid black;
  background: #FFF;
  padding: 2px;
  margin:2px;
}
.method_description{
  border: 1px solid red;
  padding: 2px;
}
.method_param{
  border: 1px solid black;
  background: #FFF;
  padding: 2px;
  margin:2px;
}
.method_param input{
  width:400px
}
