#response_panel{
  border: 1px solid black;
  padding: 2px;
  margin:2px;

}
#response_panel_title{
  border: 1px solid black;
  padding: 2px;
  margin:2px;

}
#response_panel_body{
  border: 1px solid black;
  padding: 2px;
  margin:2px;

}
#response_table{
  border: 1px solid green;
}
#response_object{
  border: 1px solid green;
}
#response_string{
  border: 1px solid green;
}

#response_table tr:nth-child(even) {background: #CCC}
#response_table tr:nth-child(odd) {background: #FFF}


.response_object_child_object_grandchildren{
  border: 1px solid red;
  padding: 2px;
  padding-right: none;

  margin:2px;
  margin-right:none;
  margin-left: 10px;
}
.response_object_item_key{
  font-weight: bold;
}
.response_object_item_val{
  color: green;
}
.response_object_item{
  border: 1px solid green;
}
