#menu_container{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
}
#menu_hamburger_icon {
    display: inline-block;
    cursor: pointer;
    background-color: #7a92a3;
    padding:10px;
    z-index:1000;
    position: absolute;
    top:2px;
    left:2px;
    border:1px solid #d6e5ff;
    border-radius: 5px;
}
#menu_hamburger_icon > div{
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.menu_hamburger_opened .menu_hamburger_icon_bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.menu_hamburger_opened .menu_hamburger_icon_bar2 {opacity: 0;}

.menu_hamburger_opened .menu_hamburger_icon_bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#menu_items_container_outer{
  display:block;
  position: relative;
  transition: 0.4s;
}

#menu_items_container{
  margin-top:40px;
  margin-left: 10px;
  margin-right: 10px;
}

.menu_items_container_outer_opened{
  width:400px;
  height:100vh;
}
.menu_items_container_outer_closed{
  width:1px;
  padding:none;
}

.menu_item{

  padding:10px;
  background-color: #b9ddf7;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

/*https://wisdmlabs.com/blog/responsive-tables-using-css-div-tag/*/
